# Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

# Importing the dataset

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.shape

(10000, 14)

In [4]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
X = data.iloc[:, 3:-1].values
y = data.iloc[:, -1].values

In [10]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [11]:
y

array([1, 0, 1, ..., 1, 1, 0])

## Encoding categorical data

    Label Encoding the "Gender" column

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [13]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

   One Hot Encoding the "Geography" column

In [14]:
data.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [16]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

## Splitting the dataset into the Training set and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Building the ANN

## Initializing the ANN

In [19]:
ann = tf.keras.models.Sequential()

In [20]:
#Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

#Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

#Adding the output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Training the ANN

In [21]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [22]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

2022-09-02 07:27:14.847347: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/100
250/250 [==============================] - 2s 1ms/step - loss: 0.5366 - accuracy: 0.7710
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4579 - accuracy: 0.7979
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4273 - accuracy: 0.8079
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4026 - accuracy: 0.8269
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3860 - accuracy: 0.8369
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8440
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3673 - accuracy: 0.8461
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3622 - accuracy: 0.8470
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3585 - accuracy: 0.8495
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3560 - accuracy: 0.8496
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3538 - accuracy: 0.8514
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3520 - accuracy: 0.8526
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3508 - accuracy: 0.8545
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3496 - accuracy: 0.8554
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8550
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8569
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3478 - accuracy: 0.8553
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8572
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8579
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3461 - accuracy: 0.8584
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8574
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8576
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8575
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8589
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8593
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8597
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8590
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8597
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8594
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3426 - accuracy: 0.8596
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8589
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8602
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8604
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8601
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8615
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8619
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8612
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3404 - accuracy: 0.8608
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8621
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8618
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8624
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8627
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8618
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8616
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8627
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8608
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8631
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8635
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8641
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8631
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8620
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8620
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8621
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8637
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8615
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8640
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8631
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8639
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8637
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8641
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8631
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8639
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8627
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8643
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8637
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8636
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8634
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8645
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8627
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8639
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8636
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8648
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8637
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8630
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8636
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8651
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8644
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8629
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8636
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8652
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8639
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8654
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8648
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8652
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8633
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8620
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8645
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8643
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8639
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8641
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8639
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8645
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8641
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8652
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8656
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8645

In [23]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1509   86]
 [ 193  212]]

0.8605